<launch>
  <arg name="object_name" default="body" />
  <node ns="$(arg object_name)" name="natnet_client" type="ros_natnet_client" pkg="ros_natnet_client" output="screen">
    <param name="body_id" value="2" />
    <param name="vrpn_server_ip" value="192.168.3.252" />
    <param name="vrpn_coordinate_system" value="optitrack" />
    <!-- <param name="timestamping_system" value="ros" /> -->
    <param name="timestamping_system" value="tracker" />
    <param name="object_name" value="$(arg object_name)" />
    <param name="verbose" value="true" />
  </node>
</launch>
